$primary: rgba(210,81,64,1);

$headings: 'Amita', cursive;
$text: 'Poppins', sans-serif;

@import 'partials/_setup.scss';
@import 'partials/_button.scss';
@import 'partials/_header.scss';
@import 'partials/_userlogin.scss';
@import 'partials/_main.scss';

html{
    font-family: $text;
}
h1,
h2,
h3{
    margin:0;
}
a{
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: row;
    position: relative;
    // overflow: hidden;
}
.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}
