// .clock{
//     width: 33%;
//     // height: 100vh;
// }
h2{
    text-transform: capitalize;
    font-size: 30px;
    font-family: $headings;
}
.questions{
    display: flex;
    flex-direction: column;
    .question{
        display: flex;
        flex-direction: column;
    }
    input{
        padding: 5px;
        margin-bottom: 5px;
        background: none;
        border: none;
        border-bottom: 2px dotted $primary;
    }
}
.nextCycle{
    width: 100%;
    margin: 40px;
    .displayCycle{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        // transition: all 0.5s;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
    .oneCycle{
        width: 32%;
        height: 300px;
        border: 2px solid $primary;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px) {
            width: 60%;
            margin-bottom: 10px;
        }
        p{
            text-align: center;
        }
    }
}
.edit{
    width: 40px;
    border: 1px solid transparent;
}